$bgColor: #333;
$darkCyan: #008B8B;
$lightCyan: #7FFFD4;

@import 'navigation';
@import 'normalize';

body {
	background-color: $bgColor !important;
  font-family: 'Montserrat', sans-serif !important;
  color: white;
}